*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height:100vh;
}

.content{
    background-color: lightgrey;
    padding:60px 40px;
}
.content.one{
    background-color: #fff;
}
.content.one:hover{
    background-color: lightgrey;
}
.content.two{
    background-color: #fff;
}
.content.two:hover{
    background-color: lightgrey;
}
.contentH1{
    text-align: center;
    font-size: 29px;
    font-weight:100 bolder;
    text-transform: capitalize;
}
.contentH2{
    font-size:30px;
    font-weight:bolder;
    text-align: center;
    color: rgb(5, 184, 160);
    padding-bottom: 32px;
}
.contentP{
    font-size:20px;
    text-align: center;
    font-weight: lighter;
}
/* input begins */
.inputField{
    display: block;
    min-width: 100%;
    height: 60px;
    margin:30px 0px;
}
.inputField::placeholder{
    padding: 20px;
    font-size: 20px;
    
}
.helpField{
    width: 100%;
    height: 18vh;
    margin-bottom: 20px;
}
.helpField::placeholder{
    font-size: 18px;
    transform: translate(3%, -50%) ;
}
.button{
    background-color: rgb(29, 28, 28);
    color:white;
    height: 45px;
    font-size: 19px;
    text-transform: uppercase;
    border-radius: 10px;
}
a.registerButton{
    text-decoration: none;
}
.button:hover{
    background-color: rgb(29, 75, 78);
    cursor: pointer;
}
.privacyP{
    color: rgb(143, 142, 142);
    font-size: 13.5px;
    font-weight: 100;
}
.privacyP span{
    color: rgb(52, 92, 138);
    font-weight: bolder;
}
.privacy a{
    text-decoration:none;
    color:rgb(29, 75, 78);
}
.privacy a:hover{
    color: rgb(27, 16, 16);
    text-decoration: underline;
}
/* login page begins */
.loginContent{
    height: 100vh;
    
}
.loginButton{
    display: grid;
    justify-self: center;
    min-width:50%;
}
a.loginButton{
    text-decoration: none;
}


/* login page ends */
/* Project begins */

.content.one.projectContent{
    background-color: lightgrey;
    height: 100vh;
    margin-left: -30px;
}
.headLog{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgb(10, 6, 1);
    justify-content: space-between;
    align-content: center;
    height:10vh;
    position: fixed;
    margin-top: -60px;
    margin-left: -10px;
    width: 100%;
    text-transform: uppercase;
    color: lightgrey;
}
h2.loggedUser{
    display: grid;
    justify-items: center;
}
button.closeSession{
    background-color: #202020;
    color: lightgrey;
    border-radius: 30px;
    max-width:100px;
}
button.closeSession:hover{
    background-color: rgb(3, 59, 92);
}
a.closeSession{
    color:lightgrey;
    text-decoration: none;
    text-transform: capitalize;
}
/*  where content from user is shown */
div.transmitterWrap{
    display: grid;
    grid-template-columns: 550px 50px;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    
}
.transmitField{
    height:2.5em;
    background-color: rgb(241, 37, 37);
    display: grid;
    border-radius: 50px 50px 50px 50px;

}
.transmitField::placeholder{
    padding-left: 20px;
    font-size: 25px;
    color: black;
}
.deleteButton{
    background-color: rgb(10, 6, 1);
    color: lightgrey;
    text-transform: uppercase;
    max-width: 80px;
}
/*  where content from user is shown ends */
/* bottom fixed area */
.sendArea{
    position: fixed;
    height:100px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    display: grid;
    grid-template-columns: 400px 100px;
    justify-content: space-around;
    background-color: rgb(10, 6, 1);

}
.messageField{
    box-sizing: 10px 0px 0px 10px;
    border-radius: 15px;
}
.sendButton{
    max-width: 15vw;
    align-self: center;

}
a.sendButton{
    text-decoration: none;
}
/* bottom fixed area ends */
/* Project ends  */